{# Ce fichier est le template pour la page "À propos" de votre site. 
Il étend également base.html.twig et remplit les blocs définis dans le template de base. #}
{% extends 'base.html.twig' %}

{% block title %}À propos{% endblock %}

{% block content %}
    <h2>À propos de nous</h2>
    <p>Ceci est la page à propos.</p>
{% endblock %}