{# Ce fichier est un template de base que les autres templates vont étendre. 
Il contient la structure HTML commune à toutes les pages de votre site, comme l'en-tête, le pied de page, et les blocs de contenu.#}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Mon Site{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Bienvenue sur mon site</h1>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; Le Zoo d'Arcadia, The Final exam 2024/2025</p>
    </footer>
</body>
</html>