{# Ce fichier est le template pour la page d'accueil de votre site. 
Il étend base.html.twig et remplit les blocs définis dans le template de base. #}
{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block content %}
    <h2>Liste des utilisateurs</h2>
    <ul>
        {% for utilisateur in utilisateurs %}
            <li>{{ utilisateur.nom }} - {{ utilisateur.email }}</li>
        {% endfor %}
    </ul>
{% endblock %}